
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Tạo bảng</h2>
        <form asp-action="CreateTable" asp-controller="Account" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="tablename" name="tablename" required>
            </div>
            <button type="submit" class="btn btn-primary">Tạo bảng</button>
        </form>
    </div>
</body>
</html>
@if (@ViewData["message"] != null)
{
    @ViewData["message"]
}